.div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button {
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  color: white;
  font-size: medium;
  font-family: "Courier New", Courier, monospace;
  margin-inline: 1rem;
}
.button:hover {
  color: hsl(25, 97%, 53%);
}
.icon {
  width: 2rem;
}
